.DS_Store

*.xccheckout
*.xcscmblueprint
xcuserdata

/archive
/build

/Configuration

/Carthage
/Cartfile.private
/Cartfile.resolved

/.env
/Xcode/Links

/fastlane/export
/fastlane/last-nightlies-success-git-commit-hash.txt
/fastlane/Preview.html
/fastlane/report.xml
/fastlane/screenshots/**/*.png
/fastlane/test_output

/Pods

/Scripts/generate-icons-caches
