.DS_Store

*.xccheckout
*.xcscmblueprint
xcuserdata

/archive
/build

/Configuration

/.env
/Xcode/Links

/fastlane/export
/fastlane/*commit-hash.txt
/fastlane/Preview.html
/fastlane/*.xml
/fastlane/screenshots
/fastlane/test_output

/Pods

/Scripts/generate-icons-caches

/vendor
/.bundle
.ruby-version
