DEVELOPMENT_LANGUAGE = rm

BU__BUNDLE_IDENTIFIER = rtrplayer
BU__BUNDLE_IDENTIFIER_PREFIX = ch.rtr.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Beta] = ch.srgssr.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Nightly] = ch.srgssr.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Debug] = ch.srgssr.
BU__CODE_SIGN_ENTITLEMENTS_IOS_APP_FILE_NAME = Application.entitlements
BU__DOMAIN = *.rtr.ch
BU__DOMAIN[config=Beta] = play-mmf.herokuapp.com
BU__DOMAIN[config=Beta_AppCenter] = srgplayer-rtr.stage.srf.ch
BU__DOMAIN[config=Nightly] = play-web-pr-1251.herokuapp.com
BU__DOMAIN[config=Nightly_AppCenter] = srgplayer-rtr.test.srf.ch
BU__DOMAIN[config=Debug] = play-web-pr-1251.herokuapp.com
BU__IDENTIFIER = rtr
BU__PRODUCT_NAME = Play RTR
BU__TV_TOP_SHELF_CONTENT_REQUEST = popular_shows
BU__TV_TOP_SHELF_IMAGE_LAYOUT = hdtv
BU__URL_SCHEME = playrtr
BU__WEB_CREDENTIALS_DOMAIN = webcredentials:*.rtr.ch
