DEVELOPMENT_LANGUAGE = fr

BU__BUNDLE_IDENTIFIER = rtsplayer
BU__BUNDLE_IDENTIFIER_PREFIX = ch.rts.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Beta] = ch.srgssr.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Nightly] = ch.srgssr.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Debug] = ch.srgssr.
BU__CODE_SIGN_ENTITLEMENTS_IOS_APP_FILE_NAME = Application.entitlements
BU__DOMAIN = *.rts.ch
BU__DOMAIN[config=Beta] = srgplayer-rts.stage.srf.ch
BU__DOMAIN[config=Beta_AppCenter] = srgplayer-rts.stage.srf.ch
BU__DOMAIN[config=Nightly] = play-mmf.herokuapp.com
BU__DOMAIN[config=Nightly_AppCenter] = srgplayer-rts.test.srf.ch
BU__DOMAIN[config=Debug] = play-mmf.herokuapp.com
BU__IDENTIFIER = rts
BU__PRODUCT_NAME = Play RTS
BU__TV_TOP_SHELF_CONTENT_REQUEST = popular_shows
BU__TV_TOP_SHELF_IMAGE_LAYOUT = hdtv
BU__URL_SCHEME = playrts
BU__WEB_CREDENTIALS_DOMAIN = webcredentials:*.rts.ch
