DEVELOPMENT_LANGUAGE = de

BU__BUNDLE_IDENTIFIER = srfplayer
BU__BUNDLE_IDENTIFIER_PREFIX = ch.srf.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Beta] = ch.srgssr.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Nightly] = ch.srgssr.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Debug] = ch.srgssr.
BU__CODE_SIGN_ENTITLEMENTS_IOS_APP_FILE_NAME = Application.entitlements
BU__DOMAIN = *.srf.ch
BU__DOMAIN[config=Beta] = play-mmf.herokuapp.com
BU__DOMAIN[config=Beta_AppCenter] = srgplayer-srf.stage.srf.ch
BU__DOMAIN[config=Nightly] = play-mmf.herokuapp.com
BU__DOMAIN[config=Nightly_AppCenter] = srgplayer-srf.test.srf.ch
BU__DOMAIN[config=Debug] = play-mmf.herokuapp.com
BU__IDENTIFIER = srf
BU__PRODUCT_NAME = Play SRF
BU__TV_TOP_SHELF_CONTENT_REQUEST = popular_shows
BU__TV_TOP_SHELF_IMAGE_LAYOUT = hdtv
BU__URL_SCHEME = playsrf
BU__WEB_CREDENTIALS_DOMAIN = webcredentials:*.srf.ch
