DEVELOPMENT_LANGUAGE = en

BU__BUNDLE_IDENTIFIER = swiplayer
BU__BUNDLE_IDENTIFIER_PREFIX = ch.swi.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Beta] = ch.srgssr.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Nightly] = ch.srgssr.
BU__BUNDLE_IDENTIFIER_PREFIX[config=Debug] = ch.srgssr.
BU__CODE_SIGN_ENTITLEMENTS_IOS_APP_FILE_NAME = Application-without-CarPlay.entitlements
BU__DOMAIN = *.swissinfo.ch
BU__DOMAIN[config=Beta] = play-web-staging.herokuapp.com
BU__DOMAIN[config=Nightly] = play-web-staging.herokuapp.com
BU__DOMAIN[config=Debug] = play-web-staging.herokuapp.com
BU__IDENTIFIER = swi
BU__PRODUCT_NAME = Play SWI
BU__TV_TOP_SHELF_CONTENT_REQUEST = all_shows
BU__TV_TOP_SHELF_IMAGE_LAYOUT = hdtv
BU__URL_SCHEME = playswi
BU__WEB_CREDENTIALS_DOMAIN = webcredentials:*.swissinfo.ch
