#include "Xcode/Shared/Targets/iOS/Common.xcconfig"

CODE_SIGN_ENTITLEMENTS = $(PROJECT_DIR)/Application/$(BU__CODE_SIGN_ENTITLEMENTS_IOS_APP_FILE_NAME)
CODE_SIGN_ENTITLEMENTS[config=Beta_AppCenter] = $(PROJECT_DIR)/Application/Application-without-CarPlay.entitlements
CODE_SIGN_ENTITLEMENTS[config=Nightly_AppCenter] = $(PROJECT_DIR)/Application/Application-without-CarPlay.entitlements

EXCLUDED_SOURCE_FILE_NAMES = FLEX.o ShowTime.o
INCLUDED_SOURCE_FILE_NAMES[config=Beta_AppCenter] = FLEX.o ShowTime.o
INCLUDED_SOURCE_FILE_NAMES[config=Beta] = ShowTime.o
INCLUDED_SOURCE_FILE_NAMES[config=Nightly_AppCenter] = FLEX.o ShowTime.o
INCLUDED_SOURCE_FILE_NAMES[config=Nightly] = ShowTime.o
INCLUDED_SOURCE_FILE_NAMES[config=Debug] = FLEX.o ShowTime.o

PRODUCT_MODULE_NAME = PlaySRG
SWIFT_OBJC_BRIDGING_HEADER = $(PROJECT_DIR)/Application/Sources/Bridges/PlaySRG-ObjectiveC.h

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

TARGET__ACTIVITY_CONTINUATION_DOMAIN = activitycontinuation:$(BU__DOMAIN)
TARGET__APP_LINKS_DOMAIN = applinks:$(BU__DOMAIN)
