<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/abseil-cpp-binary</string>
			<key>Title</key>
			<string>abseil (1.2022062300.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Aiolos</string>
			<key>Title</key>
			<string>Aiolos (1.9.7)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/appcenter-sdk-apple</string>
			<key>Title</key>
			<string>AppCenter (5.0.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AutoCoding</string>
			<key>Title</key>
			<string>AutoCoding (2.2.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Comscore-Swift-Package-Manager</string>
			<key>Title</key>
			<string>Comscore-Swift-Package-Manager (6.10.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/DZNEmptyDataSet</string>
			<key>Title</key>
			<string>DZNEmptyDataSet</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/firebase-ios-sdk</string>
			<key>Title</key>
			<string>Firebase (10.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FSCalendar</string>
			<key>Title</key>
			<string>FSCalendar (2.8.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FXReachability</string>
			<key>Title</key>
			<string>FXReachability (1.3.2-srg6)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Gifu</string>
			<key>Title</key>
			<string>Gifu (3.4.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleAppMeasurement</string>
			<key>Title</key>
			<string>GoogleAppMeasurement (10.13.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleCastSDK-ios-no-bluetooth</string>
			<key>Title</key>
			<string>GoogleCastSDK-ios-no-bluetooth (4.7.1-beta.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleDataTransport</string>
			<key>Title</key>
			<string>GoogleDataTransport (9.2.5)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleUtilities</string>
			<key>Title</key>
			<string>GoogleUtilities (7.11.5)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/grpc-binary</string>
			<key>Title</key>
			<string>gRPC (1.50.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/gtm-session-fetcher</string>
			<key>Title</key>
			<string>gtm-session-fetcher (3.1.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/interop-ios-for-google-sdks</string>
			<key>Title</key>
			<string>InteropForGoogle (100.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ios-library</string>
			<key>Title</key>
			<string>Airship (16.12.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/leveldb</string>
			<key>Title</key>
			<string>leveldb (1.22.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/libextobjc</string>
			<key>Title</key>
			<string>libextobjc (0.6.0-srg4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MAKVONotificationCenter</string>
			<key>Title</key>
			<string>MAKVONotificationCenter (1.0.0-srg6)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Mantle</string>
			<key>Title</key>
			<string>Mantle (2.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MaterialComponents</string>
			<key>Title</key>
			<string>MaterialComponents (118.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MDFInternationalization</string>
			<key>Title</key>
			<string>MDFInternationalization (3.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MDFTextAccessibility</string>
			<key>Title</key>
			<string>MDFTextAccessibility (2.0.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/nanopb</string>
			<key>Title</key>
			<string>nanopb (2.30909.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Nuke</string>
			<key>Title</key>
			<string>Nuke (10.11.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/NukeUI</string>
			<key>Title</key>
			<string>NukeUI (0.8.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/paper-onboarding</string>
			<key>Title</key>
			<string>PaperOnboarding (6.1.5)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/PLCrashReporter</string>
			<key>Title</key>
			<string>PLCrashReporter (1.11.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/promises</string>
			<key>Title</key>
			<string>Promises (2.3.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srganalytics-apple</string>
			<key>Title</key>
			<string>SRGAnalytics (8.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgappearance-apple</string>
			<key>Title</key>
			<string>SRGAppearance (5.2.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgcontentprotection-apple</string>
			<key>Title</key>
			<string>SRGContentProtection (3.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgdataprovider-apple</string>
			<key>Title</key>
			<string>SRGDataProvider (18.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgdiagnostics-apple</string>
			<key>Title</key>
			<string>SRGDiagnostics (3.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgidentity-apple</string>
			<key>Title</key>
			<string>SRGIdentity (3.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgletterbox-apple</string>
			<key>Title</key>
			<string>SRGLetterbox (9.1.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srglogger-apple</string>
			<key>Title</key>
			<string>SRGLogger (3.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgmediaplayer-apple</string>
			<key>Title</key>
			<string>SRGMediaPlayer (7.2.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgnetwork-apple</string>
			<key>Title</key>
			<string>SRGNetwork (3.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srguserdata-apple</string>
			<key>Title</key>
			<string>SRGUserData (3.3.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/swift-collections</string>
			<key>Title</key>
			<string>swift-collections (1.0.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/swift-protobuf</string>
			<key>Title</key>
			<string>SwiftProtobuf (1.22.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftMessages</string>
			<key>Title</key>
			<string>SwiftMessages (9.0.6)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftUI-Introspect</string>
			<key>Title</key>
			<string>Introspect (0.9.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/UICKeyChainStore</string>
			<key>Title</key>
			<string>UICKeyChainStore (2.2.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/YYWebImage</string>
			<key>Title</key>
			<string>YYWebImage (1.0.5-srg3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
