<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/abseil-cpp-SwiftPM</string>
			<key>Title</key>
			<string>abseil-cpp-swiftpm (0.20220203.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Aiolos</string>
			<key>Title</key>
			<string>aiolos (1.8.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/appcenter-sdk-apple</string>
			<key>Title</key>
			<string>appcenter-sdk-apple (4.4.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AutoCoding</string>
			<key>Title</key>
			<string>AutoCoding (2.2.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/boringssl-SwiftPM</string>
			<key>Title</key>
			<string>boringssl-swiftpm (0.9.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Comscore-Swift-Package-Manager</string>
			<key>Title</key>
			<string>comscore-swift-package-manager (6.10.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/DZNEmptyDataSet</string>
			<key>Title</key>
			<string>dznemptydataset</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/firebase-ios-sdk</string>
			<key>Title</key>
			<string>firebase-ios-sdk (8.15.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FSCalendar</string>
			<key>Title</key>
			<string>FSCalendar (2.8.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FXReachability</string>
			<key>Title</key>
			<string>fxreachability (1.3.2-srg5)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Gifu</string>
			<key>Title</key>
			<string>gifu (3.3.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleAppMeasurement</string>
			<key>Title</key>
			<string>googleappmeasurement (8.15.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleCastSDK-ios-no-bluetooth</string>
			<key>Title</key>
			<string>googlecastsdk-ios-no-bluetooth (4.7.0-beta.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleDataTransport</string>
			<key>Title</key>
			<string>googledatatransport (9.1.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GoogleUtilities</string>
			<key>Title</key>
			<string>googleutilities (7.7.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/grpc-ios</string>
			<key>Title</key>
			<string>grpc-ios (1.44.0-grpc)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/gtm-session-fetcher</string>
			<key>Title</key>
			<string>gtm-session-fetcher (1.7.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/InAppSettingsKit</string>
			<key>Title</key>
			<string>InAppSettingsKit (3.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ios-library</string>
			<key>Title</key>
			<string>ios-library (16.5.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/leveldb</string>
			<key>Title</key>
			<string>leveldb (1.22.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/libextobjc</string>
			<key>Title</key>
			<string>libextobjc (0.6.0-srg3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MAKVONotificationCenter</string>
			<key>Title</key>
			<string>makvonotificationcenter (1.0.0-srg5)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Mantle</string>
			<key>Title</key>
			<string>mantle (2.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MaterialComponents</string>
			<key>Title</key>
			<string>MaterialComponents (118.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MDFInternationalization</string>
			<key>Title</key>
			<string>MDFInternationalization (3.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MDFTextAccessibility</string>
			<key>Title</key>
			<string>MDFTextAccessibility (2.0.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/nanopb</string>
			<key>Title</key>
			<string>nanopb (2.30908.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Nuke</string>
			<key>Title</key>
			<string>nuke (10.9.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/NukeUI</string>
			<key>Title</key>
			<string>nukeui (0.8.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/paper-onboarding</string>
			<key>Title</key>
			<string>paper-onboarding (6.1.5)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/PLCrashReporter</string>
			<key>Title</key>
			<string>plcrashreporter (1.10.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/promises</string>
			<key>Title</key>
			<string>promises (2.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srganalytics-apple</string>
			<key>Title</key>
			<string>srganalytics-apple</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgappearance-apple</string>
			<key>Title</key>
			<string>srgappearance-apple (5.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgcontentprotection-apple</string>
			<key>Title</key>
			<string>srgcontentprotection-apple (3.0.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgdataprovider-apple</string>
			<key>Title</key>
			<string>srgdataprovider-apple</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgdiagnostics-apple</string>
			<key>Title</key>
			<string>srgdiagnostics-apple (3.0.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgidentity-apple</string>
			<key>Title</key>
			<string>srgidentity-apple</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgletterbox-apple</string>
			<key>Title</key>
			<string>srgletterbox-apple</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srglogger-apple</string>
			<key>Title</key>
			<string>srglogger-apple (3.0.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgmediaplayer-apple</string>
			<key>Title</key>
			<string>srgmediaplayer-apple</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srgnetwork-apple</string>
			<key>Title</key>
			<string>srgnetwork-apple (3.0.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/srguserdata-apple</string>
			<key>Title</key>
			<string>srguserdata-apple (3.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/swift-collections</string>
			<key>Title</key>
			<string>swift-collections (1.0.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/swift-protobuf</string>
			<key>Title</key>
			<string>swift-protobuf (1.19.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftMessages</string>
			<key>Title</key>
			<string>swiftmessages (9.0.6)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/UICKeyChainStore</string>
			<key>Title</key>
			<string>uickeychainstore (2.2.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/YYWebImage</string>
			<key>Title</key>
			<string>yywebimage (1.0.5-srg3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
