<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Settings</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Key</key>
			<string>PlaySRGSettingServiceURL</string>
			<key>DefaultValue</key>
			<string>https://il.srgssr.ch</string>
			<key>Values</key>
			<array>
				<string>https://il.srgssr.ch</string>
				<string>https://il-stage.srgssr.ch</string>
				<string>https://il-test.srgssr.ch</string>
				<string>https://play-mmf.herokuapp.com</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Stage</string>
				<string>Test</string>
				<string>Play MMF</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
