<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Values</key>
	<array>
		<string>https://il.srgssr.ch</string>
		<string>https://il-stage.srgssr.ch</string>
		<string>https://il-test.srgssr.ch</string>
		<string>https://play-mmf.herokuapp.com</string>
	</array>
	<key>Titles</key>
	<array>
		<string>Production</string>
		<string>Stage</string>
		<string>Test</string>
		<string>Play MMF</string>
	</array>
</dict>
</plist>
