#include "Xcode/Links/Play SRF TV.debug.xcconfig"
#include "Pods/Target Support Files/Pods-Play SRG-tvOS-Play SRF TV/Pods-Play SRG-tvOS-Play SRF TV.debug.xcconfig"
#include "Xcode/Play tvOS Application.xcconfig"
#include "Xcode/Play SRF.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = ch.srgssr.$(APP_PLAYER_IDENTIFIER)$(BUNDLE_IDENTIFIER_SUFFIX)
