PRODUCT_BUNDLE_IDENTIFIER = $(BU__BUNDLE_IDENTIFIER_PREFIX)$(BU__BUNDLE_IDENTIFIER)$(COMMON__BUNDLE_IDENTIFIER_SUFFIX)$(TARGET__BUNDLE_IDENTIFIER_SUFFIX)
PRODUCT_NAME = $(BU__PRODUCT_NAME)$(TARGET__PRODUCT_NAME_SUFFIX)

COMMON__APP_GROUP_IDENTIFIER = group.$(BU__BUNDLE_IDENTIFIER_PREFIX)$(BU__BUNDLE_IDENTIFIER)$(COMMON__BUNDLE_IDENTIFIER_SUFFIX)

COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Beta] = .beta
COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Beta_AppCenter] = .beta
COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Nightly] = .nightly
COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Nightly_AppCenter] = .nightly
COMMON__BUNDLE_IDENTIFIER_SUFFIX[config=Debug] = .debug

COMMON__URL_SCHEME = $(BU__URL_SCHEME)$(COMMON__URL_SCHEME_SUFFIX)

COMMON__URL_SCHEME_SUFFIX[config=Beta] = -beta
COMMON__URL_SCHEME_SUFFIX[config=Beta_AppCenter] = -beta
COMMON__URL_SCHEME_SUFFIX[config=Nightly] = -nightly
COMMON__URL_SCHEME_SUFFIX[config=Nightly_AppCenter] = -nightly
COMMON__URL_SCHEME_SUFFIX[config=Debug] = -debug